.ChatList {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 80%;
    box-sizing: border-box;
    overflow: hidden;
    color : #f5f5f5;
    border-radius: 25px;
    background-color: blueviolet;
    border: 2px solid rgb(161, 84, 212);
    font-family: Arial, Helvetica, sans-serif; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  

  .ChatItems {
    height: 60%;
    width: 100%;
  }
  .ChatItemsWrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .chatItemWrapper {
    width: 100%;
    z-index: -1;
  }
  .chatItemWrapper:hover {
    background-color: rgb(114, 41, 182);
  }
  .chatItem {
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .profilePic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(161, 84, 212);
  }
  .userName {
      width: 80%;
      user-select: none;
  }
  .horizontalRuler {
    height: 2px;
    width: 100%;
    background-color: rgb(161, 84, 212);
  }

  .searchWrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 80%;
      height: 50px;
      background-color: rgb(128, 26, 153);
      border-radius: 10px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 2px solid rgb(161, 84, 212);
      box-shadow: 0 4px 8px 20 rgba(48, 231, 24, 0.89), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .searchChat {
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    height: 40px;
    background-color: rgb(128, 26, 153);
    color: white;
    outline: none; 
    border: none;
  }

  .searchIcon {
    padding-left: 20px;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(128, 26, 153);
    border-radius: 10px;
  }
