.App {
  width: 100vw;
  height: 100vh;
}
.siteHeader {
  background-color: rgb(102, 38, 93);
  color: white;
  position: fixed;
  height: 40px;
  width: 100vw;
  top: 0px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  
}

.siteContent {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 100%;
  width: 100vw;
}
.LogInPanel,.ChatBox {
  color : #f5f5f5;
  border-radius: 25px;
  background-color: blueviolet;
  font-family: Arial, Helvetica, sans-serif; 
}

.LogInPanel {
  font-size: 2vh;
  height: 45%;
  width: 40%;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logInForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#passwordInput,#usernameInput {
  width : 250px;
  height: 30px;
  background-color: white;
  border: 2px solid gray;
  padding-left: 15px;
  border-radius: 10px;
}

#passwordWrapper{
  width : 300px;
  margin-top: 20px;
}

#usernameWrapper{
  width: 300px;
}

.eyeIcon {
  margin-left: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#submitButton[disabled="true"] {
  background-color: brown;
}

#submitButton {
  outline: none;
  margin-top: 10px;
  width : 25%;
  height : 10%;
  color : white;
  /* original color rgb(30, 30, 146);
  rgb(19, 19, 99);
  */
  background-color: gray;
  border-radius: 50px;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submitButton:not([disabled]) {  
  background-color: rgb(30, 30, 146);
}

#submitButton:hover:not([disabled]) { 
  background-color: rgb(19, 19, 99);
}

#submitButton:focus {
  background-color: rgb(19, 19, 99);
}

.inputFields {
  text-align: left;
  color: rgb(163, 233, 163);
}

.ChatBox {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
  height : 80%;
  overflow: auto;
}

.ChatLogWrapper {
  flex-grow: 1;
  margin: 15px;
  overflow: auto;
  height: 80%;
  border-radius: 25px;
  border: 5px solid rgb(128, 26, 153);
  background-color: rgba(190, 93, 255, 0.5);
  margin-bottom: 0px;
}
.ChatLog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10px;
  min-height: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.Message,.MessageMetaData {
  text-align: left;
  margin: auto;
}

.Message {
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: flex;
  align-content: center;
  height: 80%;
}


.selfMessageBox,.otherMessageBox { 
  display: flex;
  height: auto;
  width: 100%;
  min-height: 40px;
  max-height: 500px;
}

.selfMessageBox {
  justify-content: flex-end;
}

.otherMessageBox {
  justify-content: flex-start;
}

.selfMessage,.otherMessage {
  flex-grow: 0;
  height: auto;
  min-height: 40px;
  max-height: 500px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.selfMessage {
  background-color: rgb(177, 19, 177);
}

.otherMessage {
  background-color: darkmagenta;
}
#messageInput {
  flex-grow: 1;
  margin: auto;
  height: 30px;
  background-color: white;
  border: 2px solid gray;
  padding-left: 15px;
  border-radius: 10px;
}

.triangleDecorator {
  width: 0;
  height: 0;
  position: relative;
  top: -5%;
  left: -17%;
  border: 10px solid darkmagenta;
  border-top: 0px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.submitButton {
  width: auto;
  margin: 15px;
}

.sendBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sendButton {
  border-radius: 100%;
  border: none;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  color: pink;
  background-color: purple;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sendButton:hover {
  background-color: rgb(110, 2, 110);
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(248, 26, 248); 
  border-radius: 10px;
  border-color: black;
  border-top: 2px;
}

/* Handle on hover */

img {
  width: 2px;
  height: 1px;
}
html {
  background-image: linear-gradient(to left,purple,darkblue);
}

#root {
  height: 100%;
}