.App {
  width: 100vw;
  height: 100vh;
}
.siteHeader {
  background-color: rgb(102, 38, 93);
  color: white;
  position: fixed;
  height: 40px;
  width: 100vw;
  top: 0px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  
}

.siteContent {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 100%;
  width: 100vw;
}
.LogInPanel,.ChatBox,.ChatList {
  color : #f5f5f5;
  border-radius: 25px;
  background-color: blueviolet;
  font-family: Arial, Helvetica, sans-serif; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.LogInPanel {
  font-size: 2vh;
  height: 45%;
  width: 40%;
  display: flex;

}

.logInForm {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.logInTitle {
  margin: 0;
}
#passwordInput,#usernameInput {
  width : 250px;
  height: 30px;
  background-color: white;
  border: 2px solid gray;
  padding-left: 15px;
  border-radius: 10px;
}

#passwordWrapper{
  width : 300px;
}

#usernameWrapper{
  width: 300px;
}

.eyeIcon {
  margin-left: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#submitButton[disabled="true"] {
  background-color: brown;
}

#submitButton {
  outline: none;
  margin-top: 10px;
  width : 25%;
  height : 10%;
  color : white;
  /* original color rgb(30, 30, 146);
  rgb(19, 19, 99);
  */
  background-color: gray;
  border-radius: 50px;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submitButton:not([disabled]) {  
  background-color: rgb(30, 30, 146);
}

#submitButton:hover:not([disabled]) { 
  background-color: rgb(19, 19, 99);
}

#submitButton:focus {
  background-color: rgb(19, 19, 99);
}

.inputFields {
  text-align: left;
  color: rgb(163, 233, 163);
}

.ChatBox {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  height : 80%;
  overflow: auto;
}

.ChatLogWrapper {
  flex-grow: 1;
  margin: 15px;
  margin-bottom: 0px;
  overflow: auto;
  height: 500px;
  border-radius: 25px;
  border: 5px solid rgb(128, 26, 153);
  background-color: rgba(190, 93, 255, 0.5);
  padding-bottom: 10px;
}
.ChatLog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10px;
  height: auto;
  min-height: 100%;
}

.Message,.MessageMetaData {
  text-align: left;
  margin: auto;
}

.Message {
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: flex;
  align-content: center;
  height: 80%;
}


.selfMessageBox,.otherMessageBox { 
  display: flex;
  height: auto;
  width: 100%;
}

.otherMessage,.selfMessage {
  min-height: 40px;
  max-height: 500px;
  max-width: 60%;
}
.otherMessage::before {
  content: "";
  display: block;
  position:relative;
  width: 0;
  height: 0;
  border: 8px solid darkmagenta;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  left: -6px;
  top: 2px;

}

.selfMessage::before {
  content: "";
  display: block;
  position:relative;
  width: 0;
  height: 0;
  border: 8px solid rgb(177, 19, 177);
  border-bottom: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  right: -10px;
  top: 2px;
}
.selfMessageBox {
  justify-content: flex-end;
}

.otherMessageBox {
  justify-content: flex-start;
}

.selfMessage,.otherMessage {
  position: relative;
  flex-grow: 0;
  height: auto;
  min-height: 40px;
  max-height: 500px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.userBanner {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: rgb(128, 26, 153);
}
.chatItemWrapper {
  width: 100%;
}
.chatItemWrapper:hover {
  background-color: rgb(114, 41, 182);
}
.chatItem {
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.profilePic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.bigProfilePicture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.horizontalRuler {
  height: 2px;
  width: 100%;
  background-color: black;
}
.selfMessage {
  background-color: rgb(177, 19, 177);
}

.otherMessage {
  background-color: darkmagenta;
}
#messageInput {
  display: flex;
  align-items: center;
  outline: none;
  flex-grow: 1;
  margin: auto;
  height: 30px;
  max-height: 300px;
  color: black;
  background-color: white;
  border: 2px solid gray;
  padding-left: 15px;
  border-radius: 10px;
}

.submitButton {
  width: auto;
  margin: 15px;
}

.sendBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sendButton {
  outline: none;
  border-radius: 100%;
  border: none;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  color: pink;
  background-color: purple;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sendButton:hover {
  background-color: rgb(110, 2, 110);
}

.ChatList {
  width: 30%;
  height: 80%;
  box-sizing: border-box;
}
.ChatWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  height: 100%;
}
.circle { 
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: red;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(248, 26, 248); 
  border-radius: 10px;
  border-color: black;
  border-top: 2px;
}

/* Handle on hover */

img {
  width: 2px;
  height: 1px;
}
html {
  background-image: linear-gradient(to left,purple,darkblue);
}

#root {
  height: 100%;
}