.ChatBox,.ChatList {
    color : #f5f5f5;
    border-radius: 25px;
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .ChatBox {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    height : 80%;
    overflow: auto;
  }
  
  .ChatLogWrapper {
    flex-grow: 1;
    margin: 15px;
    margin-bottom: 0px;
    overflow: auto;
    height: 500px;
    border-radius: 25px;
    border: 5px solid rgb(128, 26, 153);
    background-color: rgba(190, 93, 255, 0.5);
    padding: 10px 0;
  }
  .ChatLog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    height: auto;
    min-height: 100%;
  }
  
  .Message,.MessageMetaData {
    z-index: 1;
    text-align: left;
    margin: auto;
  }

  .Message {
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: flex;
    align-content: center;
    height: 80%;
  }
  
  
  .selfMessageBox,.otherMessageBox { 
    display: flex;
    height: auto;
    width: 100%;
  }

  .otherMessage::before {
    content: "";
    display: block;
    position:relative;
    width: 0;
    height: 0;
    border: 8px solid darkmagenta;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    left: -6px;
    top: 2px;
  
  }
  
  .selfMessage::before {
    z-index: 1;
    content: "";
    display: block;
    position:relative;
    width: 0;
    height: 0;
    border: 12px solid rgb(177, 19, 177);
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    right: -10px;
    top: 1px;
  }
  .selfMessageBox {
    justify-content: flex-end;
  }
  
  .otherMessageBox {
    justify-content: flex-start;
  }
  
  .selfMessage,.otherMessage {
    z-index: 2;
    position: relative;
    flex-grow: 0;
    height: auto;
    min-height: 40px;
    max-height: 500px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 40px;
    max-height: 500px;
    max-width: 60%;
  }
  
  .userBanner {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: rgb(128, 26, 153);
    user-select: none;
  }
  
  .chatItemWrapper {
    width: 100%;
    z-index: -1;
  }
  .chatItemWrapper:hover {
    background-color: rgb(114, 41, 182);
  }
  .chatItem {
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .profilePic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(161, 84, 212);
  }
  .bigProfilePicture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .horizontalRuler {
    height: 2px;
    width: 100%;
    background-color: black;
  }
  .selfMessage {
    background-color: rgb(177, 19, 177);
  }
  
  .otherMessage {
    background-color: darkmagenta;
  }
  #messageInput {
    display: flex;
    align-items: center;
    outline: none;
    flex-grow: 1;
    margin: auto;
    height: 30px;
    max-height: 300px;
    color: white;
    background-color: rgb(128, 26, 153);
    border: 2px solid rgb(161, 84, 212);
    padding-left: 15px;
    border-radius: 10px;
  }
  
  .submitButton {
    width: auto;
    margin: 15px;
  }
  
  .sendBox {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .sendButton {
    outline: none;
    border-radius: 100%;
    border: none;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    color: pink;
    background-color: purple;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .sendButton:hover {
    background-color: rgb(110, 2, 110);
  }

  .optionsIcon {
    margin-left: auto;
    margin-right: 5px;
    color: white;
    font-size: 20px;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
  }